In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\pbehera\OneDrive - GXO\Desktop\Python\Shiv Project\scenarios.xlsx")

In [3]:
df.shape

(38165, 2)

In [4]:
df.dtypes

Alpbhet         object
Invoice Date    object
dtype: object

In [5]:
df.isnull().sum()

Alpbhet         0
Invoice Date    0
dtype: int64

In [6]:
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'])

In [7]:
df.dtypes

Alpbhet                 object
Invoice Date    datetime64[ns]
dtype: object

In [8]:
df.insert(1,'Months' , df['Invoice Date'].dt.month)

In [9]:
df.head(2)

  Alpbhet  Months Invoice Date
0       a       3   2022-03-14
1       b       1   2022-01-17

In [10]:
df.nunique()

Alpbhet           3
Months           12
Invoice Date    111
dtype: int64

In [11]:
pd.set_option('display.max_column',None)

In [12]:
pd.set_option('display.max_row',None)

In [14]:
df.loc[(df["Invoice Date"] >= '2022-05-30') & (df["Invoice Date"] <= '2022-07-03'), "Status"] = "June"
df.loc[(df["Invoice Date"] >= '2022-07-04') & (df["Invoice Date"] <= '2022-07-31'), "Status"] = "July"

In [15]:
df.head(50)
#df.to_excel("test_scenario.xlsx")

   Alpbhet Invoice Date Status
0        a   2022-03-14    NaN
1        b   2022-01-17    NaN
2        c   2022-12-02    NaN
3        a   2021-09-24    NaN
4        b   2022-02-27    NaN
5        c   2021-09-26    NaN
6        a   2021-09-26    NaN
7        b   2021-09-26    NaN
8        c   2022-04-03    NaN
9        a   2022-10-03    NaN
10       b   2022-04-26    NaN
11       c   2022-10-03    NaN
12       a   2021-09-26    NaN
13       b   2022-01-18    NaN
14       a   2022-04-14    NaN
15       b   2022-08-02    NaN
16       a   2022-08-02    NaN
17       b   2022-08-02    NaN
18       a   2022-08-02    NaN
19       b   2022-08-02    NaN
20       a   2022-08-02    NaN
21       b   2022-08-02    NaN
22       a   2022-08-02    NaN
23       b   2022-08-02    NaN
24       a   2022-08-02    NaN
25       b   2022-08-02    NaN
26       a   2022-08-02    NaN
27       b   2022-08-02    NaN
28       a   2022-08-02    NaN
29       b   2022-08-02    NaN
30       a   2022-08-02    NaN
31       b   2022-08-02    NaN
32       a   2022-08-02    NaN
33       b   2022-08-02    NaN
34       a   2022-08-02    NaN
35       b   2022-08-02    NaN
36       a   2022-04-26    NaN
37       b   2022-10-03    NaN
38       a   2022-01-23    NaN
39       b   2022-03-15    NaN
40       a   2022-11-04    NaN
41       b   2021-09-26    NaN
42       a   2021-09-26    NaN
43       b   2022-02-24    NaN
44       a   2021-09-26    NaN
45       b   2022-03-20    NaN
46       a   2021-09-26    NaN
47       b   2022-02-23    NaN
48       a   2022-02-23    NaN
49       b   2022-03-30    NaN

In [16]:
df.notnull().sum()

Alpbhet         38165
Invoice Date    38165
Status            875
dtype: int64

In [21]:
df.to_excel("test_scenario.xlsx")

In [29]:
with pd.ExcelWriter('C:\\Users\\pbehera\\OneDrive - GXO\\Desktop\\Python\\output.xlsx') as writer:  
    df.to_excel(writer, sheet_name='Sheet_name_1', index=False)

In [ ]:
with pd.ExcelWriter('output.xlsx') as writer:  
    df.to_excel(writer, sheet_name='Sheet_name_1', index=False)

SyntaxError: invalid syntax (<ipython-input-34-3a7b52da2a03>, line 1)